# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
/server/api/send-lab-confirmation/index.js
/server/api/send-password-reset/index.js
/server/api/send-patient-confirmation/index.js
/server/api/send-welcome-email/index.js
/server/.env
/server/server.js
/src/assests/firebase/firebase.js
/src/assests/context/AuthContext.jsx